<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@ViewBag.Title</title>
<link rel="shortcut icon" type="image/x-icon" href="~/~/assets/img/favicon.ico">
<meta name="geo.region" content="VN-57" />
<meta name="geo.placename" content="Binh duong" />
<meta name="geo.position" content="11.271259;106.627583" />
<meta name="ICBM" content="11.271259, 106.627583" />
<meta name="robots" content=@ViewBag.Robots>
<meta name="description" content=@ViewBag.Description>
<meta name="author" content="Luan Vo">
<!-- ======= All CSS Plugins here ======== -->
<link rel="stylesheet" href="~/assets/css/plugins/swiper-bundle.min.css">
<link rel="stylesheet" href="~/assets/css/plugins/glightbox.min.css">
<link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Karma:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<!-- Plugin css -->
<link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">

<!-- Custom Style CSS -->
<link rel="stylesheet" href="~/assets/css/style.css">